body {
    font-family: Arial, sans-serif;
    background: radial-gradient(#203801,#124b01);
    color:antiquewhite;
  }
  
  /* Header styles */
  h1 {
    text-align: center;
    margin-top: 140px;
  }
  
  /* Clock styles */
  #clock {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: #f82727;
    background-color: #4a464e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline;
    align-items: center; 
    margin-left: 40%;
    margin-bottom: 10rem;
  }

  #date {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fde5e5;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline;
    align-items: center; 
    margin-left: 30%;
    margin-top:120%;
    text-decoration-style: wavy;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    #clock {
      font-size: 36px;
    }
  }