body {
    background-color: black;
    color:antiquewhite;
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  /* Clock styles */
  #clock {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: #fcfbfb;
    background-color: #070707;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
  }

  #date {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    justify-content: center;
    color: #fad503;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    align-items: center; 
    text-decoration-style: wavy;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    #clock {
      font-size: 36px;
    }
    #date {
      font-size: 36px;
    }
  }